body {
    background-color: #F2FAFF;
    color: black;
    font-family: "interstate";

}
img {
    max-width:100%;
    display: block;
    max-width: 60vw;
    margin: 5vw auto;
  }
.header{
    position: relative;
}
.header .largeheader {
    font-weight: 125;
    font-size: 5em;
    color: #DEDEDE;
}
.header .alisonsmall {
    color: #526069;
    font-weight: 500;
    font-size: 2em;
    position: absolute;
    right: 1vw;
    top: 1vw;
    
}
a {
    color: #526069;
    text-decoration: none;
}

.hamburger {
    height: 1vw;
    width: 1vw;

    
}

.content .drawhome {
    max-width: 10%;
    max-height: 10%;
    margin: 5vw;
        /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
        -webkit-box-shadow: 10px 10px 0px 0px grey; 
        box-shadow: 10px 10px 0px 0px grey;
      }
      
.content .typehome {
    max-width: 10%;
    max-height: 10%;
    margin: 5vw;
        /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
        -webkit-box-shadow: 10px 10px 0px 0px grey; 
        box-shadow: 10px 10px 0px 0px grey;
      }
.content .photohome {
    max-width: 10%;
    max-height: 10%;
    margin: 5vw;
        /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
        -webkit-box-shadow: 10px 10px 0px 0px grey; 
        box-shadow: 10px 10px 0px 0px grey;
      } 
.footer{
    height: 10vw;
    background-color: #D4F0FF;
    
}
.footer .twitter {
    height: 5px;
    width: 5px;
}
.menu_hidden .menu {
    
    top: -100vh;
  }
  
  .menu {
  
    width: 95vw;
    height: 95vh;
    background-color: rgba(128, 128, 128, 0.5); 
    top: 2.5vh;
    left: 2.5vw;
    position: absolute;
    z-index: 20;
  
    -webkit-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out;
  }
  
  .menu a {
    display: block;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 3em;
    text-decoration: none;
  }
  
  .menu a:hover {
    color: #526069;
  }
  
  /* CLOSE ICON */
  .menu_close {
    position: absolute;
    right: 45px;
    top: 20px;
  }
  
  .menu_close .line {
    width: 40px;
    height: 5px;
    background-color: white;
    display: block;
    margin: 8px auto;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  
  .menu_close .line:nth-of-type(1) {
    transform: rotate(-45deg);
    position: absolute;
  }
  
  .menu_close .line:nth-of-type(2) {
    transform: rotate(45deg);
    position: absolute;
  }
  
  .menu_close:hover .line {
    background-color:#526069;
  }
  
  
  /* hamburger icon */
  .hamburger {
    margin: 10px;
    width: 40px;
    height: 35px;
    z-index: 10;
  }
  .hamburger .line {
    width: 40px;
    height: 5px;
    background-color: black;
    display: block;
    margin: 4px auto;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger:hover .line {
    background-color:white ;
  }
  