body {
    background-color: #F2FAFF;
    color: black;
    font-family: "interstate";

}
.header{
    position: relative;
}
.header .largeheader {
    font-weight: 125;
    font-size: 5em;
    color: #DEDEDE;
}
.header .alisonsmall {
    color: #526069;
    font-weight: 500;
    font-size: 2em;
    position: absolute;
    right: 1vw;
    top: 1vw;
    
}
a {
    color: #526069;
    text-decoration: none;
}

.hamburger {
    height: 1vw;
    width: 1vw;

    
}

.content .drawhome {
    max-width: 10%;
    max-height: 10%;
    margin: 5vw;
        /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
        -webkit-box-shadow: 10px 10px 0px 0px grey; 
        box-shadow: 10px 10px 0px 0px grey;
      }
      
.content .typehome {
    max-width: 10%;
    max-height: 10%;
    margin: 5vw;
        /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
        -webkit-box-shadow: 10px 10px 0px 0px grey; 
        box-shadow: 10px 10px 0px 0px grey;
      }
.content .photohome {
    max-width: 10%;
    max-height: 10%;
    margin: 5vw;
        /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
        -webkit-box-shadow: 10px 10px 0px 0px grey; 
        box-shadow: 10px 10px 0px 0px grey;
      }
.footer{
    height: 10vw;
    background-color: #D4F0FF;
    
}
.footer .twitter {
    height: 5px;
    width: 5px;
}
.menu_hidden .menu {


    /* ⬇⬇ START LEFT SLIDE EXAMPLE ⬇⬇ */
    /* THE STARTING POSITION SO THAT THE MENU IS HIDDEN */
    /* 
    left: -60vw;
     */
    /* ⬆⬆ END LEFT SLIDE EXAMPLE ⬆⬆ */
  
  
    /* ⬇⬇ START TOP SLIDE - FULLWIDTH - EXAMPLE ⬇⬇ */
    /* THE STARTING POSITION SO THAT THE MENU IS HIDDEN */
    
    top: -100vh;
   
     /* ⬆⬆ END TOP SLIDE - FULLWIDTH - EXAMPLE ⬆⬆ */
  
  
    /* ⬇⬇ START GROW SHRINK EXAMPLE ⬇⬇ */
    /* THE STARTING HEIGHT SO THAT THE MENU IS HIDDEN */
    /*   
    max-height: 0;
    */
    /* ⬆⬆ END GROW SHRINK EXAMPLE ⬆⬆ */
  
  
  
  }
  
  .menu {
  
    /* ⬇⬇ START LEFT SLIDE EXAMPLE ⬇⬇ */
    /* WIDTH SHOULD MATCH THE AMOUNT IT IS HIDDEN BY */
    /*
    width: 60vw;
    height: 100vh;
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    */
    /* ⬆⬆ END LEFT SLIDE EXAMPLE ⬆⬆ */
  
  
    /* ⬇⬇ START GROW SHRINK EXAMPLE ⬇⬇ */
    /*
    max-height:100vh;
    background-color: gray;
    overflow: hidden;
    */
    /* ⬆⬆ END GROW SHRINK EXAMPLE ⬆⬆ */
  
  
    /* ⬇⬇ START TOP SLIDE - FULLWIDTH - EXAMPLE ⬇⬇ */
    /* THE HEIGHT IS CALCULATED AS 100VH - 2.5VH */
    /* SO THE WHOLE MENU HAS SPACE AROUND IT BUT IF YOU DONT WANT SPACE THEN USE 100VH  */
    /* AND IF YOU WANT MORE SPACE INCREASE THE TOP AND LEFT AND DECREASE THE HGITH AND WIDTH */
  
    width: 95vw;
    height: 95vh;
    background-color: rgba(128, 128, 128, 0.5); 
    top: 2.5vh;
    left: 2.5vw;
    position: absolute;
    z-index: 20;
    
    /* ⬆⬆ END TOP SLIDE - FULLWIDTH - EXAMPLE ⬆⬆ */
  
  
    -webkit-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out;
  }
  
  .menu a {
    display: block;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 3em;
    text-decoration: none;
  }
  
  .menu a:hover {
    color: blue;
  }
  
  /* CLOSE ICON */
  .menu_close {
    position: absolute;
    right: 45px;
    top: 20px;
  }
  
  .menu_close .line {
    width: 40px;
    height: 5px;
    background-color: white;
    display: block;
    margin: 8px auto;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  
  .menu_close .line:nth-of-type(1) {
    transform: rotate(-45deg);
    position: absolute;
  }
  
  .menu_close .line:nth-of-type(2) {
    transform: rotate(45deg);
    position: absolute;
  }
  
  .menu_close:hover .line {
    background-color: red;
  }
  
  
  /* hamburger icon */
  .hamburger {
    margin: 10px;
    width: 40px;
    height: 35px;
    z-index: 10;
  }
  .hamburger .line {
    width: 40px;
    height: 5px;
    background-color: black;
    display: block;
    margin: 4px auto;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger:hover .line {
    background-color: yellow;
  }
